<div class="row">
<h1>Blockchain and its features</h1>
<hr/>
<div class="col-sm-4">
<img src="images/pic2.png" class="img-responsive" alt="Cinque Terre" width="250" height="200"><br/>
</div>
<div class="col-sm-8">
<p>Companies in multiple industries are exploring and experimenting new ways to:</p>

<p> • Execute transactions quicker for an enhanced customer service . </p>
<p> • Ensure cost efficiency in its operations,and Assure transparency to customers and regulators.</p>

<p> With huge volumes of data getting
generated every day owing to digitization
of records, it becomes important for every
organizations to effectively manage the
security threats and achieve significant cost
efficiencies.</p>
<p>
This is where Blockchain, with its
promises of decentralized ownership,
immutability and cryptographic security
of data, is catching the attention of the
C-suite executives. Multiple use cases are
also getting explored across industries
as everyone has started realising the
disruptive potential of this technology.</p>
</div>
</div>