
 <h2>Understanding the Concept</h2>
     <hr/>
	<img src="images/pic1.png" class="img-responsive" alt="Cinque Terre" width="500" height="236"><br/>
	<p>“A Blockchain is a digital, immutable,
distributed ledger that chronologically
records transactions in near real time.
The prerequisite for each subsequent
transaction to be added to the ledger is
the respective consensus of the network
participants (called nodes), thereby
creating a continuous mechanism of
control regarding manipulation, errors, and
data quality.</p> 
<p><i><b>Simply put, Blockchain is a protocol for exchanging value over the internet without an intermediary.</b></i></p>

               