<h3>CRUD vs Read & Write Operations</h3>
<hr/>
<div class="row">
	<div class="col-sm-12">
		<p>In a traditional database, a client can perform four functions on data: Create, Read, Update, and Delete (collectively known as the CRUD commands).</p>

		<p>The blockchain is designed to be an append only structure. A user can only add more data, in the form of additional blocks. All previous data is permanently stored and cannot be altered. Therefore, the only operations associated with blockchains are:</p>

		<p> <b>Read Operations: </b> These query and retrieve data from the blockchain.</p>
		<p><b>Write Operations:</b> These add more data onto the blockchain.</p>
	</div>
</div>
<div class="row">
	
	<div class="col-sm-12">
		<h3>Validating and Writing</h3>
	</div>
	<div class="col-sm-12">
		<p>The blockchain allows for two functions: validation of a transaction, and writing of a new transaction. A transaction is an operation that changes the state of data that lives on the blockchain. While past entries on the blockchain must always remain the same, a new entry can change the state of the data in the past entries. </p><p>For example, if the blockchain has recorded that my Bitcoin wallet has 1 million BTC, that figure is permanently stored in the blockchain. When I spend 200,000 BTC, that transaction is recorded onto the blockchain, bringing my balance to 800,000 BTC. However, since the blockchain can only be appended, my pre-transaction balance of 1 million BTC also remains on the blockchain permanently, for those who care to look. This is why the blockchain is often referred to as an immutable and distributed ledger.</p>
	</div>
</div>
<div class="row">
	
	<div class="col-sm-12">
		<h3>In short, the difference is Decentralized Control</h3>
	</div>
	<div class="col-sm-8">
		<p>Decentralized control eliminates the risks of centralized control. Anybody with sufficient access to a centralized database can destroy or corrupt the data within it. Users are therefore reliant on the security infrastructure of the database administrator.</p>

	    <p>Blockchain technology uses decentralized data storage to sidestep this issue, thereby building security into its very structure.</p>

	    <p><i><b>Though blockchain technology is well-suited to record certain kinds of information, traditional databases are better suited for other kinds of information. It is crucial for every organization to understand what it wants from a database, and gauge this against the strengths and vulnerabilities of each kind of database, before selecting one.</b></i></p>
	</div>
	<div class="col-sm-4">
		<img src="images/pic6.png" class="img-responsive" alt="Cinque Terre" ><br/>
	</div>
</div>
