
               <h2>An Introduction to Blockchain</h2>
                <hr/>
				<img src="images/pic3.png" class="img-responsive" alt="Cinque Terre" width="500" height="236"><br/>
				<p>Blockchain, mostly known as the backbone technology behind Bitcoin, is one of the emerging technologies currently in the market attracting lot of attentions
				   from enterprises, start-ups and media.</p>
                <p>Blockchain has the potential to transform multiple industries and make processes more democratic, secure, transparent,and efficient. Though many financial and non-financial players are excited about the
potential of this technology, the question
that plagues the mind of the industry
leaders is how to identify a good business
case for Blockchain?
Financial players are the first movers to
capitalize on this technology even though
it is still in a nascent stage. A study by the
World Economic Forum1 predicts banks
and regulators around the world are
poised to experiment multiple Blockchain
prototypes in 2017. With 90+ central banks
engaged in Blockchain discussion globally,
2500+ patents filed over the last three
years and 80% of the banks predicted to
initiate Blockchain and distributed ledger
technology (DLT) projects by 2017, the
Blockchain technology is on its course to
become the new normal in the world of
financial services.
Many companies, from a plethora of non-
Financial services industries like telecom,
healthcare and life sciences, travel and
hospitality, and energy, are also keeping a
close watch on the potential Blockchain use
cases to positively disrupt their traditional
business models.</p>
<p><i><b>Simply put, Blockchain is a protocol for exchanging value over the internet without an intermediary.</b></i></p>

                <!-- <div class="line"></div>

                <h2>Lorem Ipsum Dolor</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <div class="line"></div>

                <h2>Lorem Ipsum Dolor</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <div class="line"></div>

                <h3>Lorem Ipsum Dolor</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->