<div class="row">
	<h1>Blockchains vs Traditional Databases</h1>
	<hr/>

	<div class="col-sm-12">
		<h3>Traditional Database</h3>
	</div>
	<div class="col-sm-8">
		<p>Traditional databases use client-server network architecture. Here, a user (known as a client) can modify data, which is stored on a centralized server. Control of the database remains with a designated authority, which authenticates a client’s credentials before providing access to the database. If the security of the authority is compromised, the data can be altered, or even deleted.</p>
	</div>
	<div class="col-sm-4">
		<img src="images/pic4.png" class="img-responsive" alt="Cinque Terre" width="500" height="236"><br/>
	</div>
</div>
<div class="row">
	
	<div class="col-sm-12">
		<h3>Blockchain Database</h3>
	</div>
	<div class="col-sm-8">
		<p>Blockchain databases consist of several decentralized nodes. Each node participates in administration: all nodes verify new additions to the blockchain, and are capable of entering new data into the database. For an addition to be made to the blockchain, the majority of nodes must reach a general agreement.. <b><i>This general agreement. mechanism guarantees the security of the network, making it difficult to tamper the data.</i></b></p>
	</div>
	<div class="col-sm-4">
		<img src="images/pic5.png" class="img-responsive" alt="Cinque Terre" width="500" height="236"><br/>
	</div>
</div>
<div class="row">
	
	<div class="col-sm-12">
		<h3>Integrity and Transparency</h3>
	</div>
	<div class="col-sm-12">
		<p>A key property of blockchain technology, which distinguishes it from traditional database technology, is <b><i>public verifiability</i></b>, which is enabled by integrity and transparency.</p>
		<p> <b>Integrity: </b>Every user can be sure that the data they are retrieving is uncorrupted and unaltered since the moment it was recorded.</p>
		<p> <b> Transparency:</b> Every user can verify how the blockchain has been appended over time.</p>
	</div>
</div>
